<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="waregv">

    <xacro:arg name="is_ignition" default="true" />


    <xacro:include filename="$(find waregv_description)/urdf/waregv_gazebo.xacro" />
    <xacro:include filename="$(find waregv_description)/urdf/waregv_ros2_control.xacro" />

    <link name="base_footprint" />
    <link name="base_link">

        <inertial>
            <origin xyz="-0.03 0 0" rpy="0 0 0" />
            <mass value="3.0" />
            <inertia ixx="0.026282" ixy="0.0" ixz="0.0" iyy="0.026282" iyz="0.0" izz="0.045" />
        </inertial>

        <visual>
            <origin rpy="0 0 1.57" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://waregv_description/meshes/waregv_v2_chasis.obj"
                    scale="0.01 0.01 0.01" />

            </geometry>
        </visual>

        <collision>
            <origin rpy="0 0 1.57" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://waregv_description/meshes/waregv_v2_chasis.obj"
                    scale="0.01 0.01 0.01" />

            </geometry>
        </collision>

    </link>

    <link name="wheel_front_left_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 1.57" />
            <mass value="0.25" />
            <inertia ixx="0.0013681" ixy="0.0" ixz="0.0" iyy="0.0013681" iyz="0.0" izz="0.000132" />
        </inertial>

        <visual>
            <origin rpy="0 0 1.57" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://waregv_description/meshes/wheel.obj"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="1.57 0 0" />
            <geometry>
                <cylinder length="0.025" radius="0.0325" />
            </geometry>

        </collision>
    </link>

    <link name="wheel_rear_left_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 1.57" />
            <mass value="0.25" />
            <inertia ixx="0.0013681" ixy="0.0" ixz="0.0" iyy="0.0013681" iyz="0.0" izz="0.000132" />
        </inertial>

        <visual>
            <origin rpy="0 0 1.57" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://waregv_description/meshes/wheel.obj"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="1.57 0 0" />
            <geometry>
                <cylinder length="0.025" radius="0.0325" />
            </geometry>

        </collision>
    </link>

    <link name="wheel_front_right_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 1.57" />
            <mass value="0.25" />
            <inertia ixx="0.0013681" ixy="0.0" ixz="0.0" iyy="0.0013681" iyz="0.0" izz="0.000132" />
        </inertial>

        <visual>
            <origin rpy="0 0 -1.57" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://waregv_description/meshes/wheel.obj"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="1.57 0 0" />
            <geometry>
                <cylinder length="0.025" radius="0.0325" />
            </geometry>

        </collision>
    </link>

    <link name="wheel_rear_right_link">
        <inertial>
            <origin xyz="0 0 0" rpy="0 0 1.57" />
            <mass value="0.25" />
            <inertia ixx="0.0013681" ixy="0.0" ixz="0.0" iyy="0.0013681" iyz="0.0" izz="0.000132" />
        </inertial>

        <visual>
            <origin rpy="0 0 -1.57" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://waregv_description/meshes/wheel.obj"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>

        <collision>
            <origin xyz="0 0 0" rpy="1.57 0 0" />
            <geometry>
                <cylinder length="0.025" radius="0.0325" />
            </geometry>

        </collision>
    </link>


    <link name="camera_link">
        <inertial>
            <mass value="0.072" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0000075" ixy="0.0" ixz="0.0" iyy="0.0000522" iyz="0.0" izz="0.0000522" />
        </inertial>

        <visual>
            <origin rpy="1.57 0 1.57" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://waregv_description/meshes/waregv_depth_camera.obj"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>

    </link>
    <link name="lidar_link">
        <inertial>
            <mass value="0.170" />
            <origin xyz="0 0 0" rpy="0 0 0" />
            <inertia ixx="0.0001131" ixy="0.0" ixz="0.0" iyy="0.0001755" iyz="0.0" izz="0.0002025" />
        </inertial>

        <visual>
            <origin rpy="1.57 0 3.14" xyz="0 0 0" />
            <geometry>
                <mesh filename="package://waregv_description/meshes/lidar.obj"
                    scale="0.01 0.01 0.01" />
            </geometry>
        </visual>


    </link>


    <joint name="base_joint" type="fixed">
        <parent link="base_footprint" />
        <child link="base_link" />
        <origin rpy="0 0 0" xyz="0 0 0.033" />
    </joint>

    <joint name="wheel_front_left_joint" type="continuous">
        <parent link="base_link" />
        <child link="wheel_front_left_link" />
        <origin rpy="0 0 0" xyz="0.09 0.088 -0.01" />
        <limit effort="10.0" velocity="45.0" />
        <dynamics damping="0.05" friction="0.05" />
        <axis xyz="0 1 0" />
    </joint>
    <joint name="wheel_rear_left_joint" type="continuous">
        <parent link="base_link" />
        <child link="wheel_rear_left_link" />
        <origin rpy="0 0 0" xyz="-0.09 0.088 -0.01" />
        <limit effort="10.0" velocity="45.0" />
        <dynamics damping="0.05" friction="0.05" />
        <axis xyz="0 1 0" />
    </joint>
    <joint name="wheel_front_right_joint" type="continuous">
        <parent link="base_link" />
        <child link="wheel_front_right_link" />
        <origin rpy="0 0 0" xyz="0.09 -0.088 -0.01" />
        <limit effort="10.0" velocity="45.0" />
        <dynamics damping="0.05" friction="0.05" />
        <axis xyz="0 1 0" />
    </joint>
    <joint name="wheel_rear_right_joint" type="continuous">
        <parent link="base_link" />
        <child link="wheel_rear_right_link" />
        <origin rpy="0 0 0" xyz="-0.09 -0.088 -0.01" />
        <limit effort="10.0" velocity="45.0" />
        <dynamics damping="0.05" friction="0.05" />
        <axis xyz="0 1 0" />
    </joint>

    <joint name="camera_joint" type="fixed">
        <parent link="base_link" />
        <child link="camera_link" />
        <origin rpy="0 0 0" xyz="0.14 -0.002 0.098" />

    </joint>

    <joint name="lidar_joint" type="fixed">
        <parent link="base_link" />
        <child link="lidar_link" />
        <origin rpy="0 0 0" xyz="0.095 0 0.155" />

    </joint>


</robot>